<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04-在模拟器中运行登陆界面.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70945E771BE3490700E2E5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70945E901BE3490800E2E5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70945E9B1BE3490800E2E5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
